<footer class="mt-5" style="padding-top:100px;">
    <div class="container">
        <div class="row pb-2">
            <div class="col-md-12">
                <div class="d-flex justify-content-around">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Terms & Conditions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Refund Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">COPYRIGHT <span>&#169;</span> 2020 OGT
                            </a>
                        </li>
                    </ul>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-facebook fa-2x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-instagram fa-2x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-telegram-plane fa-2x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-youtube fa-2x"></i></a>
                        </li>
                        <span class="border-right" style="border-width: thick;"></span>
                    </ul>
                </div>


            </div>
        </div>

    </div>
    </div>
</footer>