<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/imgs/ogtHeader2.png" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <style>
        /* .blog-item{
            border-bottom: 1px solid #ccc;
            padding-bottom: 30px;
            margin-bottom: 30px;
            margin-left: 300px;
        } */
        .navbar{
            padding: 0;
            background-color: #262626;
        }
        .navbar-nav a{
            font-size:16px;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        }
        .navbar-brand{
            font-size: 45px;
        }
        .breadcumb-image{
            background-image: url('https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 300px;
        }
        .breadcumb-image{
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
        .bg-overley{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>
    <title>ABOUT US</title>
  </head>
  <body>
    
     <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" id="navbarogt">
        <div class="container">
            <a class="navbar-brand" href="/">OGT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" style="margin-right:150px">
            <li class="nav-item">
              <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/store">STORE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/notifications">NOTIFICATION</a>
            </li>
            <% if (currentUser) { %>
              <li class="nav-item ">
                <a class="nav-link" href="#"><span style="color:#f1eeee">WELCOME <%= (currentUser.username).toUpperCase() %></span></a>
              </li>
            <% } %>
            
          </ul>
        </div>
        </div>
    </nav>
    <!--Navbar Over-->

    <!--Breadcumb Section-->
    <div class="breadcumb-image">
        <div class="bg-overlay" style="background-color:transparent"></div>
        <div class="breadcumb-title">
            <h2 class="font-bold text-uppercase">HOME - ABOUT US</h2>
        </div>
    </div>
    <!---Breadcumb Section over here-->



   <!-- team -->
   <section style="background-color:#f65a5b; padding-bottom:50px" >
    <div class="container">
      <h3 class="text-center pt-5 mb-5" style="color:whitesmoke;font-size:48px;letter-spacing:2px">ABOUT US</h3>
      <div class="row">
        <div class="col-md-6">
          <img src="./imgs/aboutus.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-6">
          <h5 style="color:whitesmoke;font-size:30px;">ABOUT ONLINE GYM TRAINING</h5>
          <p style="color:white;font-size:20px;">
            We as Online gym Training want to provide the best services to the customer and the best trainer to them
            so that they can remain healthy and fit. <br>
            The only goal of OGT is to provide the best services out of the best.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--//team -->

    <!--about-->
    <div class="container mt-5 mb-5">
        <h5 class="text-center mb-5" style="font-size:38px;color:tomato">MEET OUR TEAMS</h5>
        <div class="card-deck">
            <div class="card text-center shadow">
              <img src="./imgs/navneet.jpg" class="card-img-top"  alt="...">
              <div class="card-body">
                <h5 class="card-title">Navneet Pal</h5>
                <h6 class="card-subtitle mb-2 text-muted">170160107054</h6>
                <p class="card-text">Full Stack Web Developer</p>
                <p class="card-text"><small class="text-muted">MERN STACK</small></p>
                <div class="d-flex justify-content-between">
                  <a href="#"><i class="fab fa-2x fa-facebook" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fab fa-2x fa-instagram" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fa fa-2x fa-envelope" style="color:#f65a5b;" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="card text-center shadow">
              <img src="./imgs/mishra.jpg" class="card-img-top"  alt="...">
              <div class="card-body">
                <h5 class="card-title">Abhishek Mishra</h5>
                <h6 class="card-subtitle mb-2 text-muted">170160107051</h6>
                <p class="card-text">Full Stack Web Developer</p>
                <p class="card-text"><small class="text-muted">MERN STACK</small></p>
                <div class="d-flex justify-content-between">
                  <a href="#"><i class="fab fa-2x fa-facebook" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fab fa-2x fa-instagram" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fa fa-2x fa-envelope" style="color:#f65a5b;" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="card text-center shadow">
              <img src="./imgs/dhruv.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Dhruv Chauhan</h5>
                <h6 class="card-subtitle mb-2 text-muted">170160107020</h6>
                <p class="card-text">Web Designer</p>
                <p class="card-text"><small class="text-muted">FRONT END DEVELOPER</small></p>
                <div class="d-flex justify-content-between">
                  <a href="#"><i class="fab fa-2x fa-facebook" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fab fa-2x fa-instagram" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fa fa-2x fa-envelope" style="color:#f65a5b;" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="card text-center shadow">
              <img src="./imgs/darji.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Harsh Darji</h5>
                <h6 class="card-subtitle mb-2 text-muted">170160107022</h6>
                <p class="card-text">Web Designer</p>
                <p class="card-text"><small class="text-muted">FRONT END DEVELOPER</small></p>
                <div class="d-flex justify-content-between">
                  <a href="#"><i class="fab fa-2x fa-facebook" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fab fa-2x fa-instagram" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fa fa-2x fa-envelope" style="color:#f65a5b;" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
    </div>
    
   <!--//about-->

    <footer>
      <div class="container">
        <div class="row pb-2">
            <div class="col-md-12">
              <div class="d-flex justify-content-around">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Terms & Conditions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Privacy</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Refund Policy</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">COPYRIGHT <span>&#169;</span> 2020 OGT
                    </a>
                  </li>
                </ul>
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-facebook fa-2x"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram fa-2x"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-telegram-plane fa-2x"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-youtube fa-2x"></i></a>
                  </li>
                  <span class="border-right" style="border-width: thick;"></span>
                </ul>
              </div>
              

            </div>
          </div>
          
        </div>
      </div>
    </footer>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="/js/jquery-min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>