<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="class.css">
    <style>
        body{
            background-color:darkgrey;
        }
        .container{
            margin-top: 100px;
            display: flex;
        }
        h3{
            text-decoration: underline;
        }
        .btn{
           border-radius: 10px; 
           width: 25%;
        }
        .col-lg-7{
            margin-right: 10px;
        }  
    </style>
</head>
<body>
    <div class="container">
      <div class="col-lg-5">
         <h1>CARDIO CLASS</h1>
          <h5>TIMR - 8:00 AM</h5>
          <h5>DURATION - 30 MIN</h5>
          <br><br>
          <h2>COMPONENTS:</h2>
          <h5>YOGA MATT</h5>
          <br><br>
          <button type="button" class="btn btn-warning">JOIN</button>
     </div>
     

     <!---Image-->
     <div class="col-lg-7">
         <img src="imgs/pexels-andrea-piacquadio-3763868.png" width="100%"  alt="">
     </div>
     </div>

       <br><br><br>
      <h1 style="text-align: center;">BENEFITS CARDIO</h1>


     <div class="container">
        <div class="col-lg-7"> 
          <img src="imgs/Things I do 1.png"  style="height: 400px";
                width: 50%;  margin-top="1px" alt="">
      </div>

      <div class="col-lg-6">
        <p>-Increases blood flow and decreses chances of storke</p>
        <p>-Improves memory and thinking ability</p>
        <p>Combats decline in brain functioning with age.</p>
        <p>-Fights osteoprosis and reduces chances for fracture</p>
        <p>-Helps manage arthieitis discomfort and main joint range of motion</p>
    </div>
</div>
    
</body>
</html>