<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
    
    
  </head>
  <body>
    
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" id="navbarogt">
            <a class="navbar-brand" href="/">OGT<p style="font-size: 22px;letter-spacing:3px">ONLINE GYM TRAINING</p></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto" style="margin-right:150px">
                <li class="nav-item active">
                  <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">ABOUT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">STORE</a>
                </li>
                <% if (currentUser) { %>
                  <li class="nav-item ">
                    <a class="nav-link" href="#"><span style="color:#f1eeee">WELCOME <%= (currentUser.username).toUpperCase() %></span></a>
                  </li>
                <% } %>
                
              </ul>
            </div>
    </nav>
    <!--Navbar Over-->

    


    <!--Jumbotron-->
    <div class="container-fluid jumbotron jumbotron-fluid ">
        <div class="row text-left">
            <div class="col-md-12 col-lg-8 ">
                <p class="homepara">GET IN. GET FIT.<br> GET ON WITH LIFE</p>
                <div class="mb-5 text-left" id="meetoncontainer" >
                  <p id="meeton" class="mt-3">ALSO MEET ON</p>
                  <a href="#"class="mr-3"><img src="/imgs/insta.png"></a>
                  <a href="#" class="mr-3"><img src="/imgs/linked.png"></a>
                  <a href="#"><img src="/imgs/pinterest.png"></a>
                </div>
                <% if (!currentUser) { %>
                  <div class="mt-4" id="logincred">
                    <a href="/signin" class="btn1 btn btn-lg rounded-pill  mr-3" id="signin">Sign-in</a>
                    <a href="/signup" class="btn1 btn btn-lg rounded-pill btn-outline-secondary" style="color:white">Sign-up</a>
                  </div>
                <% }else{ %>
                  <div class="mt-4" id="logincred">
                    <a href="/signout" class="btn1 btn btn-lg rounded-pill" id="signin">Sign-Out</a>
                  </div>
                <% } %>
            </div>
            <div class="col-lg-4  d-none d-lg-block">
              <div class="row">
                <div class="col-8 justify-content-center text-left">
                </div>
              </div>
               
            </div>
        </div>
    </div>
    <!--Jumbotron over-->

    <!--Fitness and Health-->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="mb-5">
               <h5 style="color:#f65a5b;font-size: 34px;font-family: Oswald, sans-serif;letter-spacing: 1px;font-weight: 500;">Fitness And Health</h5>
              </div>
              <p id="fitness-detail">Health and fitness are related, and it is impossible to achieve one without paying heed to the other.
                Staying Healthy is essential to work correctly and live productively. <br>
                Fitness is crucial as it helps us to work without facing difficulties and increases our resistance to disease-causing germs.
                Not only does staying fit facilitates our workability,but also helps but to be happy and content.
              </p>
            </div>
            <div class="col-md-4">
              <img src="/imgs/ab1.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </section>
    <!--Fitness Over-->


    <!-- team -->
    <section style="background-color:#f65a5b; padding-bottom:50px" >
      <div class="container">
        <h3 class="text-center pt-5 mb-5" style="color:whitesmoke;font-size:48px;letter-spacing:2px">Our Trainer</h3>
        <div class="row" id="teamcenter">
          <div class="trainer">
            <div class="card" style="width: 16rem;border-style: solid;border-color: black;">
              <div class="container1">
                <img src="/imgs/t1.jpg" class="image card-img-top img-fluid" style="height:260px" alt="...">
                <div class="middle">
                  <div class="text">Sam Will</div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title text-center" style="color:#f65a5b;">Sam Will</h5>
                <h6 class="card-subtitle text-center mb-2">BodyBuilder</h6>
                <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum</p>
                <div class="d-flex justify-content-between">
                  <a href="#"><i class="fab fa-2x fa-facebook" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fa fa-2x fa-envelope" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fab fa-2x fa-twitter" style="color:#f65a5b;"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="trainer">
            <div class="card" style="width: 16rem; border-style: solid;border-color: black;">
              <div class="container1">
                <img src="/imgs/t2.jpg" class="image card-img-top img-fluid" style="height:260px" alt="...">
                <div class="middle">
                  <div class="text">Sara Kent</div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title text-center" style="color:#f65a5b;">Sara Kent</h5>
                <h6 class="card-subtitle text-center mb-2">Fitness Trainer</h6>
                <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum</p>
                <div class="d-flex justify-content-between">
                  <a href="#"><i class="fab fa-2x fa-facebook" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fa fa-2x fa-envelope" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fab fa-2x fa-twitter" style="color:#f65a5b;"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="trainer">
            <div class="card" style="width: 16rem; border-style: solid;border-color: black;">
              <div class="container1">
                <img src="/imgs/t3.jpg" class="image card-img-top img-fluid" style="height:260px" alt="...">
                <div class="middle">
                  <div class="text">Rose Will</div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title text-center" style="color:#f65a5b;">Rose Will</h5>
                <h6 class="card-subtitle text-center mb-2">Rose Will</h6>
                <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum</p>
                <div class="d-flex justify-content-between">
                  <a href="#"><i class="fab fa-2x fa-facebook" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fa fa-2x fa-envelope" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fab fa-2x fa-twitter" style="color:#f65a5b;"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="trainer">
            <div class="card" style="width: 16rem; border-style: solid;border-color: black;">
              <div class="container1">
                <img src="/imgs/t4.jpg" class="image card-img-top img-fluid" style="height:260px" alt="...">
                <div class="middle">
                  <div class="text">Max Will</div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title text-center" style="color:#f65a5b;">Max Will</h5>
                <h6 class="card-subtitle text-center mb-2">Body Builder</h6>
                <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum</p>
                <div class="d-flex justify-content-between">
                  <a href="#"><i class="fab fa-2x fa-facebook" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fa fa-2x fa-envelope" style="color:#f65a5b;"></i></a>
                  <a href="#"><i class="fab fa-2x fa-twitter" style="color:#f65a5b;"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--//team -->

    <!--Classes-->
    <section style="background-color:#1f2223;" class="pb-5">
      <div class="container">
        <h3 class="text-center pt-5 mb-5" style="color:whitesmoke;font-size:48px;letter-spacing:2px">Our Classes</h3>
        <div class="row">
          <div class="col-lg-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/imgs/c7.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body text-center">
                    <h5 class="card-title">BODY BUILDING</h5>
                    <h6 class="card-subtitle mb-2 text-muted">“Intensity builds immensity.”</h6>
                    <p class="card-text"> <span style="color: #f65a5b;letter-spacing: .7px; font-size:24px">Sam Will</span> <br> Trainer </p>
                    <p class="card-text"> Class Time:<small class="text-muted"> Mon, Wed, Thu | 9:00am to 11:00am</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/imgs/c1.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body text-center">
                    <h5 class="card-title">SPINNING</h5>
                    <h6 class="card-subtitle mb-2 text-muted">“Intensity builds immensity.”</h6>
                    <p class="card-text"> <span style="color: #f65a5b;letter-spacing: .7px; font-size:24px">Rose Will</span> <br> Trainer </p>
                    <p class="card-text"> Class Time:<small class="text-muted">Tue, Thu, Sat | 4:00pm to 7:00pm</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/imgs/c6.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body text-center">
                    <h5 class="card-title">AEROBICS</h5>
                    <h6 class="card-subtitle mb-2 text-muted">“Intensity builds immensity.”</h6>
                    <p class="card-text"> <span style="color: #f65a5b;letter-spacing: .7px; font-size:24px">Sam Will</span> <br> Trainer </p>
                    <p class="card-text"> Class Time:<small class="text-muted">Wed, Fri, Sun | 6:00am to 9:00am</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/imgs/c5.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body text-center">
                    <h5 class="card-title">CROSSFIT</h5>
                    <h6 class="card-subtitle mb-2 text-muted">“Intensity builds immensity.”</h6>
                    <p class="card-text"> <span style="color: #f65a5b;letter-spacing: .7px; font-size:24px">Rose Will</span> <br> Trainer </p>
                    <p class="card-text"> Class Time:<small class="text-muted">Mon, Wed, Thu | 9:00am to 11:00am</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Classes Over-->

     <!--Our Store-->
     <section id="storesection">
      <div class="container storesectioncontent">
        <h3 class="text-center pt-5 mb-5" style="color:whitesmoke;font-size:48px;letter-spacing:2px">Our Store</h3>
        <div class="card-deck">
          <a href="" class="custom-card">
            <div class="card mx-1 shadow-lg">
              <img  src="./imgs/rubber-dumbbell-set.jpg"  class="card-img-top" alt="...">
              <div class="card-body">
                <a href="product.html" class="card-title" style="color:black"> Protoner Pair of 5kg Each PVC Dumbbells Set...</a>
                <p class="card-text" style="font-size: 11px;">10% off with AU Bank Debit Cards...</p>
                <p class="card-text"><small class="text-muted">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  4.5 (18,560)</small>
                  <span class="d-block"></span>
                  <span class="float-right " >
                    <small style="text-decoration: line-through;" class="text-muted">(₹1,880)</small>₹830 Save ₹1,050 (56%)</span>
                </p> 
              </div>
            </div>
          </a>

          <a href="" class="custom-card">
            <div class="card mx-1 shadow-lg">
              <img  src="./imgs/rubber-dumbbell-set.jpg"  class="card-img-top"  alt="...">
              <div class="card-body">
                <a href="product.html" style="color: black;">Bodygrip BGRIP5440 Kettlebell, 7Kg (Multicolour)...</a>
                <p class="card-text" style="font-size: 11px;">10% off with AU Bank Debit Cards...</p>
                <p class="card-text"><small class="text-muted">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star-half-alt text-warning"></i>
                  <i class="fas fa-star "></i>
                  4.5 (18,560)</small>
                  <span class="d-block"></span>
                  <span class="float-right" >
                    <small style="text-decoration: line-through;" class="text-muted">(₹5,000)</small>₹856  Save ₹4,144 (83%)</span>
                </p>   
              </div>
            </div>
          </a>
          <a href="" class="custom-card">
            <div class="card mx-1 shadow-lg " >
              <img  src="./imgs/roller.jpg"  class="card-img-top" alt="...">
              <div class="card-body ">
                <a href="product.html" style="color:black">N&M™ Anti Skid Double Wheel AB Roller Portable...</a>
                <p class="card-text" style="font-size: 11px;">10% off with AU Bank Debit Cards...</p>
                <p class="card-text"><small class="text-muted">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star-half-alt text-warning"></i>
                  4.5 (18,560)</small>
                  <span class="d-block"></span>
                  <span class="float-right" >
                    <small style="text-decoration: line-through;" class="text-muted">(₹999)</small>₹299 Save ₹700 (70%)</span>
                </p>
              </div>
            </div>
          </a>
          <a href="" class="custom-card">
            <div class="card mx-1 shadow-lg ">
              <img  src="./imgs/dumbell-stand.jpg"  class="card-img-top"  alt="...">
              <div class="card-body">
                <a href="product.html" style="color:black">RISE UP Dumbbell Stand & Standard Weight Multilevel...</a>
                <p class="card-text" style="font-size: 11px;">Save extra with No Cost EMI...</p>
                <p class="card-text"><small class="text-muted">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star-half-alt text-warning"></i>
                  4.5 (18,560)</small>
                  <span class="d-block"></span>
                  <span class="float-right" >
                    <small style="text-decoration: line-through;" class="text-muted">($199)</small>$9.99 </span>
                    
                </p> 
              </div>
            </div>
          </a>
          <a href="" class="custom-card">
            <div class="card mx-1 shadow-lg ">
              <img  src="./imgs/dumbel-plate.jpg"  class="card-img-top img-fluid"  alt="...">
              <div class="card-body ">
                <a href="product.html" style="color:black">Aurion Weight Plate disc Vinyl Standard Weights Plates Set...</a>
                <p class="card-text" style="font-size: 11px;">10% off with AU Bank Debit Cards...</p>
                <p class="card-text"><small class="text-muted">
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star-half-alt text-warning"></i>
                  4.5 (18,560)</small>
                  <span class="d-block"></span>
                  <span class="float-right" > ₹1,495 </span>  
                </p>
              </div>
            </div>
          </a>

        </div>
      </div>
      <div class="container storesectioncontent">
        <div class="d-flex justify-content-center mt-3">
          <button class="btn  btn -lg btn-secondary">See More</button>
        </div>
      </div>
    </section>
    <!--Our Store-->
    
    

    <!--Bootstrap Newsletter-->
     <section class="container mt-3 mb-2">
         <div class="row">
           <div class="col-md-6" id="displaycenter">
             <div id="signup">
              <h3 class="jointitle" >JOIN US FOR FREE TO GET INSTANT <span style="color: #fc636b;">EMAIL UPDATES!</span></h3>
              <p class="joinpara">Subscribe and get notified at first on the latest update and offers!</p>
              <form action="/subscribe" method="POST" class="form-inline mt-5 text-center">
                <div class="input-group input-group-lg">
                  <input type="email" id="email" name="email"  style="background: #f1eeee; border:none;color: #232020;" class="form-control" placeholder="Your Email Here" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                  <div class="input-group-append">
                    <input type="submit" class="btn" style="background-color: #f65a5b;color: white;" value="Join Now" id="cta">
                  </div>
                </div>
              </form>
              <div>
                <p id="error" class="error lead">Please enter an email</p>
              </div>
             </div>
             <div id="success" class="inner-form" style="margin-top:100px;margin-left:100px;" >
              <h3 class="jointitle">CONFIRM YOUR <span style="color: #fc636b;">EMAIL NOW!</span></h2>
              <p class="joinpara">The last step is to confirm your email. Give it a couple minutes!</p>
            </div>
           </div>
           <div class="col-md-6 d-none d-md-block">
             <img src="/imgs/subscribe.jpg"  class="img-fluid" style="height: 25em;width:100%;" alt="" >
           </div>
         </div>
     </section>
    <!--Bootsrap NewsLetter-->
    


     <!--Get in touch-->
    <div class="container-fluid pb-3" style="background-color: seashell;">
      <div class="container">
        <div class="row pt-5">
          <div class="col-md-12 text-center">
            <p class="theme-text">WE WOULD LOVE TO HEAR FROM YOU</p>
            <p class="getin">GET IN TOUCH WITH US</p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6">
            <div class="mb-5">
              <p class="same">EMAIL</p>
               <p class="text-center"><a href="mailto:onlinegymtrainingogt@gmail.com" class="same1">onlinegymtrainingogt@gmail.com</a></p> 
            </div>
            <div>
              <p class="same">ADDRESS</p>
              <p class="same1">B-305, The First, B/H Keshavbaug, Vastrapur, Ahmedabad, Gujarat 380015</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-5">
              <p class="same">CALL</p>
              <p class="text-center"><a class="same1" href="tel:+91-9714023076">+91-9714023076</a></p>
              
            </div>
            <div>
              <p class="same">SOCIAL LINKS</p>
              <div class="text-center">
                <a href="#"><img class="social img-fluid" src="/imgs/fb1.png" alt=""></a>
                <a href="#"><img class="social img-fluid" src="/imgs/instagram.png"  alt=""></a>
                <a href="#"><img class="social img-fluid" src="/imgs/tele.jpg"  alt=""></a>
                <a href="#"><img class="social img-fluid" src="/imgs/youtube.png"  alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Get in touch -->
    <hr>

    <!--Footer section-->
    <footer>
      <div class="container">
        <div class="row pb-2">
            <div class="col-md-12">

              <div class="d-flex justify-content-around">
                <ul class="nav" id="footer-menu">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Terms & Conditions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Privacy</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Refund Policy</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">COPYRIGHT <span>&#169;</span> 2020 OGT
                    </a>
                  </li>
                </ul>
                <ul class="nav" id="footer-social">
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-facebook fa-2x"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram fa-2x"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-telegram-plane fa-2x"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-youtube fa-2x"></i></a>
                  </li>
                  <span class="border-right" style="border-width: thick;"></span>
                </ul>
              </div>
              

            </div>
          </div>
          
        </div>
      </div>
    </footer>
    <!--Footer Section-->


    


    <!-- Optional JavaScript; choose one of the two! -->
    
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="/js/jquery-min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>

      let cta = document.getElementById('cta');
      let email = document.getElementById('email').value;
      let error = document.getElementById('error');
      let success = document.getElementById('success');
      let signup = document.getElementById('signup');

      cta.addEventListener('click', (event) => {
          event.preventDefault();

          if (this.email.value == null || this.email.value == "") {
              error.classList.add('errorAnim');
          } else {
              console.log('activated');
              let fetchData = {
                  method: 'POST',
                  // stringify converts an object to a JSON value
                  body: JSON.stringify({email: this.email.value, js: true}), 
                  // because we're sending JSON data now, we include the following headers as application/json
                  headers: {"Content-Type": "application/json"}
              }
              
              fetch('/subscribe', fetchData)
                  .then(res => {
                      if(res.ok) {
                          signup.classList.add('fadeout');
                          setTimeout(() => {
                              success.classList.add('fadein');
                              signup.style.display = 'none';
                          }, 1000)
                      } else {
                          console.log('not ok')
                          error.style.display = 'block';
                      }
                  })
                  .catch(console.error)
              
              

          }
         
      })


      

  </script>
    

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>