<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="css/signin.css">
    <title>Signin</title>
  </head>
  <body style="background:  rgba(16,26,56,1);">
    
    
    <div class="container-fluid box mt-3 mb-3">
        <div class="container">
            <div class="row">
                <div class="d-none d-lg-block col-md-6 LOGINMEN">
                </div>
                <div class="col-md-12 col-lg-6 optic">
                    <div id="OGT">
                        <span>OGT</span>
                    </div>
                    <div id="WELCOME_BACK">
                        <span>W</span><span style="color:rgba(255,255,255,1);">ELCOME B</span><span>A</span><span style="color:rgba(255,255,255,1);">CK</span>
                    </div>
                    <form class="mt-4" action="/signin" method="POST">
                        <div class="form-group">
                          <label for="username" class="form-label"  style="color:rgba(255,255,255,1)">Username</label>
                          <input type="text" class="form-control"  placeholder="&#xf007 &nbsp;&nbsp;Username" id="username" name="username" style="font-family:Arial, FontAwesome">
                        </div>
                        <div class="form-group">
                          <label for="password"  style="color:rgba(255,255,255,1)">Password</label>
                          <input type="password" class="form-control" placeholder="&#xf084 &nbsp;&nbsp;Password" id="passowrd" name="password" style="font-family:Arial, FontAwesome">
                        </div>
                        <div class="form-group form-check mb-2">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <div class="d-flex justify-content-between">
                            <label class="form-check-label" for="exampleCheck1" style="color:rgba(255,255,255,1)">Remember Me</label>
                             <a href="#"  style="color:rgba(186,62,4,1);">Forgot Password?</a>
                          </div>
                        </div>
                        <div class="mt-4">
                            <button type="submit" class="btn  btn-block btn-sm rounded-lg" style="background-color:rgba(186,62,4,1);color:rgba(255,255,255,1);font-size:20px;">SIGNIN</button>
                            <a href="/signup" class="btn btn-sm btn-block rounded-lg" style="border-color:rgba(186,62,4,1);color:rgba(186,62,4,1);font-size:20px">SIGN UP</a>
                        </div>
                      </form>
                      <p class="text-center mt-3" style="color:rgba(186,62,4,1);font-size:16px;">  Or login With </p>
                      <div class="text-center">
                          <a href="#" class="mr-5" style="font-size:30px"><i class="fa fa-2x fa-google" style="color:rgba(186,62,4,1)"></i></a>
                          <a href="#" style="font-size:30px"><i class="fa fa-2x fa-facebook" style="color:rgba(186,62,4,1)"  ></i></a>
                      </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="/js/jquery-min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>